#container{
   -fx-background-image: url("images/misc/sfondo_parquet.jpg");
   -fx-background-repeat: repeat;
   -fx-background-size: 1920 1080;
   -fx-background-position: center center;
}
#gameContainer{
   -fx-background-image: url("images/misc/sfondo_parquet.jpg");
   -fx-background-repeat: repeat;
   -fx-background-size: 1920 1080;
   -fx-background-position: center center;
   -fx-content-display: center;
   -fx-alignment: center;
   -fx-padding: 10;
}

HBox{
   -fx-alignment: center;
   -fx-content-display: center;
}

VBox{
   -fx-alignment: center;
   -fx-content-display: center;
}

#gameBoardAnchorPane, #commonGoal1AnchorPane, #commonGoal2AnchorPane, #chatScrollPane, #personalGoalAnchorPane, #moveListAnchorPane, #errorLabel {
   -fx-padding: 10;
   -fx-start-margin: 5;
   -fx-end-margin: 5;
}

#chatScrollPane {
   -fx-pref-width: 230;
}

#sendMessageAnchorPane {
   -fx-max-height: 20;
}